	body{
		background-color: #ffffff;
		margin-bottom: 5px;
		margin:0;
/*		border: .5px solid #5D6D7E;
*/		}
	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		border-top: 1px solid #5D6D7E;
		border-bottom: .5px solid #5D6D7E;
		background-color: #FDFEFE;	
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 20px 50px 60px 50px;
		grid-column-gap: 100px;

	}
	#mediaheader{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		background-color: #5D6D7E;
		height: 40px;
		border-bottom: 2px solid #17202A;
		align-items: start;
		align-self: start;
		padding: 1em;
		margin-top: 0px;
	}
	h1#mediaheadertitle{
		display: flex;
		grid-column: 1/2;
		color: #eee;
		padding-left: 50px;
		justify-self: start;
		font-family: 'Indie Flower', cursive;
		align-self: flex-start;
	}
	#firstbox{
		font-family: 'Josefin Sans', sans-serif;
		font-size: medium;
		position: relative;
		padding: 1em;
/*		justfy-self: center;
*//*		background-size: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;*/
/*		filter: drop-shadow(30px 10px 4px #4444dd); */	
	
	}
	#secondbox{
		/*transform: perspective(1000px) rotateY(-20deg);*/
		margin-bottom:0;
		margin-left: 0;
		padding: 1em;
	}
	#form1{
		grid-column: 2/3;
		justify-self: end;
		padding-right: 50px;
		align-self: end;
	}
	div#header{
		display:grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		margin-top: 60px;
		margin-left: 50px;
		font-family: 'Indie Flower', cursive;
	}
	#header2name{
		justify-self: start;
	}

	nav#navmenu{
	margin-right: 50px;
	display:grid;
	display: flex;
	grid-row: 1/2;
	grid-column: 2/3;
	display: inline-block;
	font-family: 'Indie Flower', cursive;
	justify-self: end;
	font-size: x-large;
	padding-bottom: 0em;
	}
	#navul > li{
		display: inline-block;
	}
	#headertitle{
		display: grid;
		grid-column: 1 fr;
		grid-row: 1fr;
		font-size: xx-large;
		padding-bottom: 2em;
		align-self: start;

	}
	.nested{

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		height: 370px;
		width: 450px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.nested img{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	border: 1px solid black;
	object-fit: cover;
    object-fit: fill;
    width: 100%;
    height: 100%;
	}

	#img1:hover{
		opacity: 0.7;
		display: grid;
		grid-template-columns: 2/3;
		grid-template-rows: 1/2;
		align-self: stretch;
    	cursor: pointer;
    	transition: 0.3s;

	}
	#img2:hover{
		opacity: 0.7;
		display: grid;
		grid-template-columns: 2/3;
		grid-template-rows: 1/2;
		grid-row: 20px;
		grid-column: 50px;
		cursor: pointer;
    	transition: 0.3s;

	}
	#img3:hover{
		opacity: 0.7;
		display: grid;
		grid-template-columns: 1/2;
		grid-template-rows: 2/3;
		cursor: pointer;
    	transition: 0.3s;

	}
	#img4:hover{
		opacity: 0.7;
		display: grid;
		grid-template-columns: 2/3;
		grid-template-rows: 2/3;
		grid-row: 50px;
		grid-column: 50px;
		cursor: pointer;
    	transition: 0.3s;
	}
	#header2{
		grid-column: 1/4;
		border-bottom: .5px solid #5D6D7E;
		border-left: .5px solid #5D6D7E;
/*		background-color: #34495E;
*/		/*background-color: #AEB6BF;*/
/*		grid-column: 1/7;
*/		padding-left: 20px;
		height: 70px;
/*		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/	}
	.footer{
/*		float: left;
*/		margin-left: 10px;
		color: #212F3D;
	}


/*	.container > div:nth-child(odd){
		background: #ddd;
	}*/

	/*	CSS BOX SHADOW CODE:

	box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
*/


/* Style the Image Used to Trigger the Modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;

    }
}