	body{
/*		background-color: #f5f5f5;
*/		background-repeat: no-repeat;
		margin:0;
		background-color: #F2F4F4;
		border: .5px solid #5D6D7E;
	/*	background-color: #778899;*/
/*		background: linear-gradient(#778899, #2F4F4F);
*/		
/*		background-image: url('/Users/Cierra/Documents/Turing Projects/MyAwesomePageFolder/MyAwesomePagePhotos/blackclouds.jpg');
*/	
/*	background-color: #D0ECE7;
*/		}
	img{
		object-fit: cover;
		margin-left: auto;
    	margin-right: auto;
    	width: 100%;
    	margin-bottom: 0;
    	padding-bottom: 0;
    	grid-row: 1/7;
    	object-fit: fill;
	}
	#header{
		border-bottom: .5px solid #5D6D7E;
		display: flex;
		height: 100;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: 50px 50px;
		display: grid;
		margin-top: 0 auto;
		background-color: #AEB6BF;
		padding-left: 1em;
		grid-column: 1/5;
		grid-row: 1/3;
/*		text-decoration: underline;
*/		font-size: xx-large;
	/*	margin: 0px 15px 0px px;*/
/*		background-color: #778899;	
*/		font-family: 'Indie Flower', cursive;
	}
	#header2{
		border-bottom: .5px solid #5D6D7E;
		border-left: .5px solid #5D6D7E;
		background-color: #AEB6BF;
		grid-column: 1/7;
		grid-row: 1/3;
		padding-left: 20px;
		height: 70px;
/*		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/	}
	.container{
		border: .5px solid #5D6D7E;
/*		grid-template-columns: repeat(6, 1fr);
*/		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: (5, 1fr);
		background-color: #FBEEE6;
		margin: 60px 70px 0px 70px;
		display: grid;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	

/*grid-column-gap: 1em;
		grid-row-gap: 2em;*/

	}
	.contaner2{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		margin: 15px 70px 10px 70px;
	}

	#navmenu ul li{
	display: flex;
	grid-row: 2/3;
	display: inline-block;
	text-decoration: underline;
	align-self: end;
	align-items: flex-end;

	}
/*	$('.multiple-items').slick({
  		infinite: true,
  		slidesToShow: 3,
  		slidesToScroll: 3
	});*/

/*	.container > div:nth-child(odd){
		background: #ddd;
	}*/

	#firstbox{
		border-left: .5px solid #5D6D7E;


/*		transform: perspective(1000px) rotateY(30deg);
*/
/*		border-top: 3px solid #566573;
		border-left: 1px solid #566573;
		border-right: 3px solid #566573;
		border-bottom: 3px solid #566573;*/
		margin-bottom:0;
/*		background-color: #FDF2E9;
*/		margin-left: 0;
		padding: 1em;
		grid-row: 3/5;
		grid-column: 1/3;
		overflow: hidden;
		position: relative;
		background-color: #FBEEE6;
	}
	#secondbox{
		background-color: #FBEEE6;
		position: relative;
		border: 2px solid #eee;
/*		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;*/
/*		border-top: 3px solid #566573;
		border-left: 3px solid #566573;
		border-right: 1px solid #566573;
		border-bottom: 3px solid #566573;*/
/*		background-image: url('/Users/Cierra/Documents/Turing Projects/MyAwesomePageFolder/MyAwesomePagePhotos/spraguelake.jpg');
*/		grid-row: 2/6;
		grid-column: 3/4;
		background-size: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		
/*		filter: drop-shadow(30px 10px 4px #4444dd); */
/*		margin-left: 15;
*/		
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		
	}
	#firstheaderbox{
		grid-column: 1/3;
	}
	#secondheaderbox{
		display: flex;
		align-self: end;
		align-items: flex-end;
		grid-column: 3/5;
		grid-row: 2/3;
	}
	#thirdbox{

		grid-column: 1/5;
		grid-row: 6/8;
		background-color: #FBEEE6;	
		padding-left: 3em;
		box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

/*	CSS BOX SHADOW CODE:

	box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
*/

	}


/*side by side/horizontal menu:

nav li{
	display: inline-block;
}*/