/*@import url('https://fonts.google.com/?selection.family=Indie+Flower|Josefin+Sans');
*/	
	body{
		background-color: #ffffff;
		margin-bottom: 5px;
		margin:0;
	}
	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		border-top: 1px solid #5D6D7E;
		border-bottom: .5px solid #5D6D7E;
		background-color: #FDFEFE;	
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 20px 50px 60px 50px;
		grid-column-gap: 100px;
		line-height: 1.5;
	}
	#inputbox{
		border: 1px solid #5D6D7E;
		border-radius: 2px;
	}
	div#mediaheader{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50px;
		padding-left: 50px;
		grid-auto-rows: min-content;
		height: 50px;
		background-color: #5D6D7E;
		border-bottom: 2px solid #1C2833;
		font-family: 'Indie Flower', cursive;
	}
	h1#mediaheadertitle{
		margin-top: 6px;
		color: #eee;
		justify-self: start;
		font-family: 'Indie Flower', cursive;
	}
	nav#navmenu{
		margin-top: 5px;
		margin-right: 50px;
		display:grid;
		grid-row: 1/2;
		grid-column: 2/3;
		display: inline-block;
		font-family: 'Indie Flower', cursive;
		justify-self: end;
		font-size: x-large;
		padding-bottom: 0em;
	}
	ul#navul{
		margin-top: 5px;
	}
	a:hover{
		color: white;
	}

	#firstbox{
		font-family: 'Josefin Sans', sans-serif;
		font-size: medium;
		position: relative;
		padding: 1em;
/*		justfy-self: center;
*//*		background-size: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;*/
/*		filter: drop-shadow(30px 10px 4px #4444dd); */	
	}
	#secondbox{
		/*transform: perspective(1000px) rotateY(-20deg);*/
		margin-bottom:0;
		margin-left: 0;
		padding: 1em;
	}
	.nested img{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		border: 1px solid black;
		object-fit: cover;
	    object-fit: fill;
	    width: 100%;
	    height: 100%;
	}
	.nested{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		height: 400px;
		width: 450px;
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#form1{
		grid-column: 2/3;
		justify-self: end;
		padding-right: 50px;
		align-self: end;
	}
	div#header{
		display:grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		margin-top: 60px;
		margin-left: 50px;
		font-family: 'Indie Flower', cursive;
	}
	#header2name{
		justify-self: start;
	}
	#navul > li{
		display: inline-block;
	}
	a{
		color: inherit;
		text-decoration: none;
	}
	#headertitle{
		display: grid;
		grid-column: 1fr;
		grid-row: 1fr;
		font-size: xx-large;
		padding-bottom: 2em;
		align-self: start;
	}
	#img1:hover{
		display: grid;
		grid-template-columns: 2/3;
		grid-template-rows: 1/2;
		align-self: stretch;
    	cursor: pointer;
    	transition: 0.3s;
    	transform: scale(1.5);
	}
	#img2:hover{
		display: grid;
		grid-template-columns: 2/3;
		grid-template-rows: 1/2;
		grid-row: 20px;
		grid-column: 50px;
		cursor: pointer;
    	transition: 0.3s;
    	transform: scale(1.5);
	}
	#img3:hover{
		display: grid;
		grid-template-columns: 1/2;
		grid-template-rows: 2/3;
		cursor: pointer;
    	transition: 0.3s;
    	transform: scale(1.5);
	}
	#img4:hover{
		display: grid;
		grid-template-columns: 2/3;
		grid-template-rows: 2/3;
		grid-row: 50px;
		grid-column: 50px;
		cursor: pointer;
    	transition: 0.3s;
    	transform: scale(1.5);

	}
	#header2{
		grid-column: 1/4;
		border-bottom: .5px solid #5D6D7E;
		border-left: .5px solid #5D6D7E;
		padding-left: 20px;
		height: 70px;
	}
	.footer{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-self: center;
		margin-left: 10px;
		margin-bottom: 5px;
		margin-top: 5px;
		padding: 1em;
		color: #212F3D;
	}


/*	.container > div:nth-child(odd){
		background: #ddd;
	}*/

	/*	CSS BOX SHADOW CODE:

	box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
*/
